@import '../../../styles/variables.scss';

.card {
  background-color: $sidebar;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;

  .edit {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
  }

  h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: $text;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  h3 {
    font-weight: 400;
    font-size: 2.4rem;
    color: $black;
    margin-bottom: 3rem;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: 300;
    color: $text;
    text-align: right;
  }
}
