@import '../../../styles/variables.scss';

.no-card {
  border: 1px solid rgba($income, 0.6);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
    color: rgba($income, 0.6);
    width: 6.2rem;
    height: 6.2rem;
  }

  &:hover {
    border: 1px solid rgba($income, 0.8);

    svg {
      color: rgba($income, 0.8);
    }
  }
}
