@import '../../../styles/variables.scss';

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  .content {
    display: flex;
    align-items: center;

    h3 {
      margin-bottom: 0.4rem;
    }

    .icon {
      border-radius: 1rem;
      width: 4.8rem;
      height: 4.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.6rem;

      &.income {
        background-color: $income;
      }

      &.expense {
        background-color: $expenses;
      }

      svg {
        width: 2.4rem;
        height: 2.4rem;
        color: $white;
      }
    }
  }

  .price {
    align-self: flex-end;

    span {
      font-weight: 500;
      font-size: 1.5rem;

      &.income {
        color: $income;
      }

      &.expense {
        color: $expenses;
      }
    }
  }
}
