.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;

  .avatar {
    width: 4.8rem;
    height: 4.8rem;
    position: relative;
    cursor: pointer;

    img {
      border-radius: 1rem;
    }
  }
}
