@import '../../../styles/variables.scss';

.modal {
  min-width: 34rem;
  padding: 3rem;
  background-color: $white;
  border-radius: 0.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    width: 100%;

    .label-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      label {
        margin-right: 4rem;
      }
    }

    .buttons {
      display: flex;
      align-self: center;
      margin-top: 1.5rem;
      gap: 1rem;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.7);
  z-index: 1;
}
