@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include device('desktop') {
    font-size: 60%;
  }

  @include device('tablet') {
    font-size: 58%;
  }
}

body {
  font-family: $fontFamily;
  font-size: 1.6rem;
  min-height: 100vh;
}

h1,
.h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: $black;

  @include device('tablet') {
    font-size: 2.6rem;
  }
}

h2,
.h2 {
  font-size: 2.1rem;
  font-weight: 500;
  color: $black;
}

h3,
.h3 {
  font-size: 1.6rem;
  font-weight: 500;
  color: $black;
}

h4,
.h4 {
  font-size: 1.4rem;
  font-weight: 400;
  color: $text;
}

p,
.p {
  font-size: 1.6rem;
  font-weight: 400;
  color: $text;

  @include device('tablet') {
    font-size: 1.5rem;
  }
}

.caption {
  font-size: 1.4rem;
  font-weight: 300;
  color: $text;
}

.btn {
  border: none;
  padding: 1rem 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  outline: none;

  &.btn-primary {
    background-color: $income;
    color: $white;

    &:hover {
      background-color: lighten($income, 3);
    }
  }

  &.btn-secondary {
    border: 1px solid $income;
    background-color: transparent;
    color: $income;

    &:hover {
      border: 1px solid lighten($income, 3);
      color: lighten($income, 3);
    }
  }
}

input[type='text'],
select {
  border: 1px solid $text;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  color: $text;
  font-family: $fontFamily;
  outline: none;

  &::placeholder {
    font-weight: 300;
    color: rgba($text, 0.5);
  }

  &.max-width {
    max-width: 13rem;
  }
}

.icon {
  color: $text;
  width: 2.4rem;
  height: 2.4rem;

  &.hover {
    &:hover {
      color: $income;
    }
  }
}
